@import "tailwindcss";

body {
  font-family: 'Viaoda Libre', cursive;
}


/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

.transform {
  scale: 1;
}
.visible {
  scale: 1;
}



html {
  scroll-behavior: smooth;
}

